@font-face {
	font-family: 'BauerBodoni';
	src: url('/fonts/BauerBodoni/BauerBodoniStd-Roman.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BauerBodoni';
	src: url('/fonts/BauerBodoni/BauerBodoniStd-Italic.otf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'BauerBodoni';
	src: url('/fonts/BauerBodoni/BauerBodoniStd-Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'BauerBodoni';
	src: url('/fonts/BauerBodoni/BauerBodoniStd-BoldItalic.otf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'BaskervilleMT';
	src: url('/fonts/BaskervilleMT/BaskervilleMTStd-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BaskervilleMT';
	src: url('/fonts/BaskervilleMT/BaskervilleMTStd-Italic.otf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'BaskervilleMT';
	src: url('/fonts/BaskervilleMT/BaskervilleMTStd-Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}